<!-- 
<nav class="navbar nav_bar navbar-expand-lg bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand text-dark" href="#">QUICK NEWS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link btn btn-outline-primary text-dark  mx-2" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item     mx-2">
            <a class="nav-link btn btn-outline-primary text-dark" href="#">Entertainment</a>
          </li>
          <li class="nav-item    mx-2">
            <a class="nav-link btn btn-outline-primary text-dark" href="#">General</a>
          </li>
          <li class="nav-item   mx-2">
            <a class="nav-link text-dark btn btn-outline-primary " href="#" tabindex="-1" aria-disabled="false">Business</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->

